/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#featured-brands {
  float: left;
  width: 65%;
  margin-right: 1%; 
}

#archive-list {
  float: right;
  width: 32%;
  margin-left: 1%;
}

.col-left {
  margin-right: 1%;
  float: left;
  width: 28%;
}

.col-center {
  display: inline-block;
  width: 28%;
}

.col-right {
  float: right;
  width: 28%;
}
