/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#social {
  float: right;
}

h2.milk_text {
  margin-top: 20px;
}

.two-thirds {
  width: 66%;
  margin-right: 2%;
  float: left;
}

.one-third {
  width: 32%;
  margin-right: 2%;
  float: left;
  margin-top: 20px;
}

.two-thirds + .one-third {
  margin-top: 0;
}

.one-third:last-child, .two-thirds + .one-third {
  margin-right: 0;
}

#details .wrapper div {
  width: 32%;
  float: left;
}

#details .wrapper div.border_right {
  margin-right: 2%;
  border-right: solid 1px rgb(228,228,228);
}
